@layer components {
  .app-container {
    @apply max-w-[400px] md:max-w-[800px] mx-auto p-5 md:p-8 bg-white rounded-lg shadow-md;
  }

  .app-header {
    @apply flex items-center justify-center flex-col text-center mb-5 mt-6;
  }

  .app-logo {
    @apply w-32 h-auto mb-4 mt-2;
  }

  .app-header h1 {
    @apply text-2xl md:text-3xl m-0;
  }
}